#icon_login {
    width:100px;
    border-radius:50px;
}
#form_content {
    width:450px;
    padding:15px;
    border-radius:8px;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

#line {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

#plan_list{
    min-height:73vh;
    margin-top:-1%;
    overflow: auto;
}
